<section class="card">
  <header class="card__header">
    <h2 class="card__title">About</h2>
  </header>
  <div class="card__body">
    This application was built for the forLoop Covenant University conference. The application was designed by Imogie Mubarak. The Frontend was built by Ire Aderinokun (<a href="https://github.com/forLoopOfficial/theloop-frontend" target="_blank">Source</a>). The API was built by Timi Ajiboye (<a href="https://github.com/forLoopOfficial/theloop-api" target="_blank">Source</a>).
  </div>
</section>
