<form (submit)="createPost()" class="card new-post-form">
  <label for="new_post" class="new-post-form__label text-colour-theme">Post a new message</label>
  <div class="input-group">
    <input type="text" id="new_post" name="new_post" [(ngModel)]="newPost" (keyup)="calculateCharactersLeft()"
           class="new-post-form__input" placeholder="What's happening?">
    <button type="submit" class="new-post-form__submit" [disabled]="characters < 0 || characters > 138">
      <img src="assets/images/new-post-submit-icon.png" alt="">
      Post
    </button>
  </div>
  <small *ngIf="newPost" class="new-post-form__characters">{{ characters }} left</small>
</form>

<ul class="posts card">
  <li *ngFor="let post of posts">
    <app-post [post]="post"></app-post>
  </li>
</ul>
