<app-header></app-header>

<main class="site__main">
  <div class="singlegrid">

    <h2 class="page__title">Login</h2>
    <form class="card form">
      <div class="form__inputgroup">
        <label for="username" class="form__label">Username</label>
        <input type="text" id="username" class="form__input">
      </div>
      <div class="form__inputgroup">
        <label for="password" class="form__label">Password</label>
        <input type="password" id="password" class="form__input">
      </div>
      <div class="form__inputgroup">
        <button type="submit" class="form__submit"> Sign In</button>
      </div>
    </form>

    <p>Don't have an account yet? <a class="a" routerLink="/register">Create an account</a>.</p>
  </div>
</main>
