<div class="user">
  <header class="user__header">
    <p class="user__fullname">{{ user.fullName }}</p>
    <p class="user__username">@{{ user.username }}</p>
    <a routerLink="/login" class="user__logout text-colour-muted"><img src="assets/images/logout.png" alt=""> Logout</a>
  </header>
  <ul class="user__stats">
    <li class="user__stat">
      <span class="user__stat__number text-colour-theme">{{ user.totalPosts }}</span>
      <span class="user__stat__label text-colour-muted">Posts</span>
    </li>
    <li class="user__stat">
      <span class="user__stat__number text-colour-theme">{{ user.totalLikes }}</span>
      <span class="user__stat__label text-colour-muted">Likes</span>
    </li>
  </ul>
</div>
