<article class="post">
  <header class="post__header">
    <div class="post__author">
      <span class="post__author__fullname text-colour-muted">{{ post.user.name }}</span>
    </div>
    <button class="post__likes text-colour-muted" type="button" (click)="likePost()">
      <svg class="post__likes__heart" width="11px" height="10px" viewBox="0 0 11 10">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(-975.000000, -236.000000)" class="fill" fill="#757997">
            <g transform="translate(420.000000, 185.000000)">
              <g transform="translate(0.000000, 34.000000)">
                <g transform="translate(555.000000, 13.000000)">
                  <path d="M11,6.88643376 C10.8879649,10.3640888 6.67277144,14 5.5,14 C4.30256027,13.975117 0,10.3521449 0,6.88643376 C0,5.40141336 1.23547001,4 2.75668099,4 C4.45262568,4 5.36329658,5.66716433 5.5,5.84831293 C5.63773127,5.66716433 6.56073631,4 8.25668099,4 C9.76555784,4 11,5.40141336 11,6.88643376"></path>
                </g>
              </g>
            </g>
          </g>
        </g>
      </svg>
      <span class="post__likes__count">{{ post.likes_count || 0 }}</span>
    </button>
  </header>
  <div class="post__content">
    {{ post.body }}
  </div>
</article>
