<section class="card trending">
  <header class="card__header">
    <h2 class="card__title">Trending</h2>
  </header>
  <ul class="card__body trending-tags">
    <li class="trending-tag">
      <img class="trending-tag__icon" src="assets/images/trending.png" alt="">
      <div class="trending-tag__details">
        <p class="trending-tag__tag text-colour-theme">#instagram</p>
        <p class="trending-tag__number text-colour-muted">1,008,660 posts</p>
      </div>
    </li>
    <li class="trending-tag">
      <img class="trending-tag__icon" src="assets/images/trending.png" alt="">
      <div class="trending-tag__details">
        <p class="trending-tag__tag text-colour-theme">#instagram</p>
        <p class="trending-tag__number text-colour-muted">1,008,660 posts</p>
      </div>
    </li>
    <li class="trending-tag">
      <img class="trending-tag__icon" src="assets/images/trending.png" alt="">
      <div class="trending-tag__details">
        <p class="trending-tag__tag text-colour-theme">#instagram</p>
        <p class="trending-tag__number text-colour-muted">1,008,660 posts</p>
      </div>
    </li>
  </ul>
</section>
