<app-header></app-header>

<main class="site__main">
  <div class="singlegrid">

    <h2 class="page__title">Register</h2>
    <form class="card form">
      <div class="form__inputgroup">
        <label for="name" class="form__label">Full Name</label>
        <input type="text" id="name" name="name" class="form__input">
      </div>
      <div class="form__inputgroup">
        <label for="email" class="form__label">Email Address</label>
        <input type="text" id="email" name="email" class="form__input">
      </div>
      <div class="form__inputgroup">
        <label for="password" class="form__label">Password</label>
        <input type="password" id="password" name="password" class="form__input">
      </div>
      <div class="form__inputgroup">
        <label for="passwordConfirmation" class="form__label">Confirm Password</label>
        <input type="password" id="passwordConfirmation" name="passwordConfirmation" class="form__input">
      </div>
      <div class="form__inputgroup">
        <button type="submit" class="form__submit"> Register</button>
      </div>
    </form>

    <p>Already have an account? <a class="a" routerLink="/login">Sign in</a>.</p>
  </div>
</main>
